<div class="recipe recipes-list-item">
  <div class="recipe-cover">
    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporario">
  </div>
  <div class="recipe-title-container">
    <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
  </div>
  <div class="recipe-author">
    <span class="recipe-author-item">
      <i class="fa-solid fa-user"></i>
      Ramon Moreira
    </span>
    <span class="recipe-author-item">
      <i class="fa-solid fa-calendar-days"></i>
      16/10/2021 às 11:21
    </span>
    <span class="recipe-author-item">
      <a href="">
        <i class="fa-solid fa-layer-group"></i>
        Café da manhã
      </a>
    </span>
  </div>

  <div class="recipe-content">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt aliquid repudiandae illo temporibus harum a
      est consequuntur eligendi tempora asperiores nisi, voluptatum atque recusandae hic ullam itaque? Veniam,
      eveniet numquam.</p>
  </div>

  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-preparation">
      <h3 class="recipe-meta-title"><i class="fa-solid fa-stopwatch"></i> Preparo</h3>
      <div class="recipe-meta-text">
        0 Minutos
      </div>
    </div>
    <div class="recipe-meta recipe-servings">
      <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza-slice"></i> Porções</h3>
      <div class="recipe-meta-text">
        0 Porções
      </div>
    </div>

  </div>

  <footer class="recipe-footer">
    <a href="">
      <i class="fa-solid fa-eye"></i>
      <span>Ver mais...</span>
    </a>
  </footer>

</div>